* {
    box-sizing: border-box;
}
.containerr{
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    display: flex;
}

.camera-container {
    width: 514px;
    height: 450px;
    background-color: #ddd;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: relative;
}

#canvasElement {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;
}

#videoElement{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#captureButton {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.left-section {
    flex: 1;
    margin:1px;
    padding: 20px;
  }
  
  .right-section {
    flex: 1;
    padding: 20px;
  }